@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button onclick="toggleMain()" type="button" class="nav-link register-button">
                    Main
                </button>
            </li>
            <li class="nav-item">
                <button onclick="toggleLogin()" type="button" class="nav-link register-button">
                    Login
                </button>
            </li>
            <li class="nav-item">
                <button onclick="toggleRegister()" type="button" class="nav-link login-button">
                    Register
                </button>
            </li>
        </ul>
    </div>
</div>